<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="attachments">

<xacro:arg name="rp_lidar_a1" default="true"/>
<xacro:property name="rp_lidar_a1" value="$(arg rp_lidar_a1)" />

	<!-- RP Lidar A1 -->
	<xacro:if value="${rp_lidar_a1}">
		<xacro:include filename="$(find dhex_description)/urdf/sensors/rp_lidar_a1.xacro"/>
    <joint name="{link_00_name}_TO_rp_lidar_A1" type="fixed">
    <origin xyz="0.02 0 0.055" rpy="0.0 -0.025 0.0"/>
    <parent link="${link_00_name}"/>
    <child link="rp_lidar_A1"/>
    </joint>
	</xacro:if>

  

    

<xacro:include filename="$(find dhex_description)/urdf/sensors/generic_camera.xacro" />
<generic_camera name="dhex_camera"
        origin_rpy_i="0 0 0" origin_xyz_i="-0.00000185 -0.00008975 0.00737255"
        mass="0.00615422"
        ixx="7.472e-7" ixy="0" ixz="0"
        iyy="7.6e-7" iyz="0"
        izz="7.4e-7"
        meshfile="package://dhex_description/meshes/camera_new.dae"
        meshscale="1 1 1"
        parent="${link_00_name}"
        origin_rpy_j="0 0 0" origin_xyz_j="0.1 0 0.021"
        />


</robot>
