<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dhex">

<!-- <xacro:arg name="rp_lidar_a1" default="true"/>
<xacro:property name="rp_lidar_a1" value="$(arg rp_lidar_a1)" /> -->

<!-- BGN - Include -->
<xacro:include filename="$(find dhex_description)/urdf/dhex_parameters.xacro" />
<xacro:include filename="$(find dhex_description)/urdf/links_joints.xacro" />
<!-- END - Include -->

<!-- BGN - Robot description -->

<!-- BASE  -->
<link name="${base_link}"/>



 <!-- JOINT - BASE_LINK TO HEX_BASE_LINK -->
<m_joint name="${base_link}_TO_${link_00_name}" type="fixed"
        axis_xyz="0 0 1"
        origin_rpy="0 0 0" origin_xyz="0 0 0"
        parent="${base_link}" child="${link_00_name}"
        limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!-- HEX_BASE_LINK  -->
<m_link_mesh name="${link_00_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0.00643363 -0.00003738 0.00608448"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.27625906"
        ixx="0.0003358" ixy="2.321e-6" ixz="-3.063e-5"
        iyy="0.00073197" iyz="0.00000108"
        izz="0.00089429"
        meshfile="package://dhex_description/meshes/dhex_base_link.dae"
        meshscale="1 1 1" />


<!-- JOINT - HEX_BASE_LINK TO RIGHT_WHEEL -->
<m_joint name="${link_00_name}_TO_${link_01_name}" type="continuous"
            axis_xyz="0 0 -1"
            origin_rpy="1.5707 0 0" origin_xyz="0.04739898 -0.06196184 -0.01215966"
            parent="${link_00_name}" child="${link_01_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />


<!-- RIGHT_WHEEL  -->
<m_link_mesh name="${link_01_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0 0 0"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.02990224"
        ixx="0.00001354" ixy="0" ixz="0"
        iyy="0.00001354" iyz="0"
        izz="0.00002032"
        meshfile="package://dhex_description/meshes/wheel.dae"
        meshscale="1 1 1" />
		<!-- origin_rpy_i="0 0 0" origin_xyz_i="0.04318327 -0.06196513 -0.0084928" -->

<!-- JOINT - HEX_BASE_LINK TO LEFT_WHEEL -->
<m_joint name="${link_00_name}_TO_${link_02_name}" type="continuous"
            axis_xyz="0 0 1"
            origin_rpy="-1.5707 0 0" origin_xyz="0.04739898 0.06196184 -0.01215966"
            parent="${link_00_name}" child="${link_02_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!--LEFT_WHEEL-->
<m_link_mesh name="${link_02_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0.0 0.0 0.0"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.02990224"
        ixx="0.00001354" ixy="0" ixz="0"
        iyy="0.00001354" iyz="0"
        izz="0.00002032"
        meshfile="package://dhex_description/meshes/wheel.dae"
        meshscale="1 1 1" />

<!-- JOINT - HEX_BASE_LINK TO CASTER_WHEEL_SUPPORT -->
<m_joint name="${link_00_name}_TO_${link_03_name}" type="continuous"
            axis_xyz="0 0 1"
            origin_rpy="0 0 0" origin_xyz="-0.06827047 0.00004137 -0.03548239"
            parent="${link_00_name}" child="${link_03_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!--CASTER_WHEEL_SUPPORT-->
<m_link_mesh name="${link_03_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="-0.00046976 -0.00666343 0.01149424"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.01744074 "
        ixx="0.00000232" ixy="-7.239e-8" ixz="-9.416e-8"
        iyy="0.00000226" iyz="-7.1e-7"
        izz="0.0000025"
        meshfile="package://dhex_description/meshes/caster_wheel_support.stl"
        meshscale="1 1 1" />

<!-- JOINT - HEX_BASE_LINK TO CASTER_WHEEL -->
<m_joint name="${link_03_name}_TO_${link_04_name}" type="continuous"
            axis_xyz="0 0 1"
            origin_rpy="0 1.5707 0" origin_xyz="0 -0.0155 0"
            parent="${link_03_name}" child="${link_04_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!--CASTER_WHEEL-->
<m_link_mesh name="${link_04_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0.0 0.0 0.0"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.00473765"
        ixx="2.659e-7" ixy="0" ixz="0"
        iyy="2.659e-7" iyz="0"
        izz="4.200e-7"
        meshfile="package://dhex_description/meshes/caster_wheel.stl"
        meshscale="1 1 1" />

<!-- ATTACHMENTS	 -->

<xacro:include filename="$(find dhex_description)/urdf/attachments.xacro" />


	<gazebo>
		<!-- <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
		</plugin> -->

		<plugin name="gazebo_ros_control" filename="libgazebo_ros_diff_drive.so">
			<robotNamespace>/</robotNamespace>
			<legacyModeNS>true</legacyModeNS>
			<alwaysOn>true</alwaysOn>
			<legacyMode>false</legacyMode>
			<updateRate>50</updateRate>
			<leftJoint>${link_00_name}_TO_${link_02_name}</leftJoint>
			<rightJoint>${link_00_name}_TO_${link_01_name}</rightJoint>
			<wheelSeparation>0.1275</wheelSeparation>
			<wheelDiameter>0.06599749</wheelDiameter>
			<torque>10</torque>
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>dhex_velocity_controller/odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<publishWheelTF>false</publishWheelTF>
			<publishOdomTF>false</publishOdomTF>
			<publishWheelJointState>true</publishWheelJointState>
			<robotBaseFrame>${link_00_name}</robotBaseFrame>
		</plugin>

                <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
                        <alwaysOn>true</alwaysOn>
                        <bodyName>${link_00_name}</bodyName>
                        <topicName>imu</topicName>
                        <serviceName>imu_service</serviceName>
                        <gaussianNoise>0.0</gaussianNoise>
                        <updateRate>240.0</updateRate>
                </plugin>


		<plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
					<alwaysOn>true</alwaysOn>
					<updateRate>50.0</updateRate>
					<bodyName>${link_00_name}</bodyName>
					<topicName>ground_truth/state</topicName>
					<gaussianNoise>0.01</gaussianNoise>
					<frameName>map</frameName>
					<xyzOffset>0 0 0</xyzOffset>
					<rpyOffset>0 0 0</rpyOffset>
		</plugin>
	</gazebo>

</robot>