<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="borg_arm">

<!-- BGN - Include -->
<xacro:include filename="$(find dhex_description)/urdf/dhex_parameters.xacro" />
<xacro:include filename="$(find dhex_description)/urdf/links_joints.xacro" />
<!-- END - Include -->

<!-- BGN - Robot description -->

<!-- BASE  -->
<link name="${base_link}"/>



 <!-- JOINT - BASE TO M1 -->
<m_joint name="${base_link}_TO_${link_00_name}" type="fixed"
        axis_xyz="0 0 1"
        origin_rpy="1.5707 0 1.5707" origin_xyz="0 0 0"
        parent="${base_link}" child="${link_00_name}"
        limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!-- M1  -->
<m_link_mesh name="${link_00_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0.00000000 0.00002384 -0.00216813"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.902"
        ixx="1.34333076e-3" ixy="-1.03214973e-12" ixz="-3.11242958e-13"
        iyy="1.34165896e-3" iyz="1.82804853e-7"
        izz="3.95774972e-4"
        meshfile="package://dhex_description/meshes/M1.stl"
        meshscale="1 1 1" />



<!-- JOINT - M1 TO LINK 0 -->
<m_joint name="${link_00_name}_TO_${link_01_name}" type="revolute"
            axis_xyz="0 0 1"
            origin_rpy="0 0 1.5707" origin_xyz="0 0 0.06549988"
            parent="${link_00_name}" child="${link_01_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />


<!-- LINK 0  -->
<m_link_mesh name="${link_01_name}"
        origin_rpy_i="0 0 0" origin_xyz_i="0.00000000 0.00002384 -0.00216813"
        origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
        origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
        mass="0.02959890"
        ixx="1.05587863e-5" ixy="6.40154926e-16" ixz="0"
        iyy="1.50063121e-5" iyz="0"
        izz="2.42732978e-5"
        meshfile="package://dhex_description/meshes/Link0.stl"
        meshscale="1 1 1" />

<!-- JOINT - LINK 0 TO M2 -->
<m_joint name="${link_01_name}_TO_${link_02_name}" type="fixed"
            axis_xyz="0 0 1"
            origin_rpy="1.5707 0 0" origin_xyz="0 0 0.03026977"
            parent="${link_01_name}" child="${link_02_name}"
            limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

<!--M2-->
<m_link_mesh name="${link_02_name}"
            origin_rpy_i="0 0 0" origin_xyz_i="0 0.00002302 -0.00133116"
            origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
            origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
            mass="0.80010783"
            ixx="9.86706131e-4" ixy="-1.01693295e-12" ixz="-1.16554604e-13"
            iyy="9.85047471e-4" iyz="-1.18812655e-7"
            izz="3.54440667e-4"
            meshfile="package://dhex_description/meshes/M2.stl"
            meshscale="1 1 1" />

<!-- JOINT - M2 TO LINK 1 -->
<m_joint name="${link_02_name}_TO_${link_03_name}" type="revolute"
            axis_xyz="0 0 1"
            origin_rpy="0 0 0" origin_xyz="0 0 0"
            parent="${link_02_name}" child="${link_03_name}"
            limit_e="1000" limit_l="-1.5707" limit_u="1.5707" limit_v="0.5" />

<!-- LINK 1 -->
<m_link_mesh name="${link_03_name}"
            origin_rpy_i="0 0 0" origin_xyz_i="0.00001036 0.17391544 0.00024916"
            origin_rpy_c="0 0 0" origin_xyz_c="0 0 0"
            origin_rpy_v = "0 0 0" origin_xyz_v ="0 0 0"
            mass="0.98490379"
            ixx="1.51260812e-2" ixy="3.00385756e-7" ixz="5.08967659e-8"
            iyy="9.08796544e-4" iyz="-7.74933141e-5"
            izz="1.47777649e-2"
            meshfile="package://dhex_description/meshes/Link1.stl"
            meshscale="1 1 1" />


        <gazebo>
                <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                </plugin>
        </gazebo>
</robot>
