<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Use only when attempting to use velocity hardware interface instead of effort-->
  <!-- <rosparam file="$(find dhex_description)/config/hardware_interface.yaml" command="load"/> -->

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find dhex_description)/urdf/dhex.urdf.xacro" />
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
      args="-urdf -param robot_description -model dhex -x $(arg x) -y $(arg y) -z $(arg z)"/>
  
  <node pkg="tf" type="static_transform_publisher" name="base_wheel" args="0 0 0 0 0 1.5707 /base_link /base_wheel 100" />
    
</launch>